In [1]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\marci\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marci\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.4-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\marci\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 1.3 MB/s eta 0:00:09
    --------------------------------------- 0.2/11.5 MB 2.6 MB/s eta 0:00:05
   - -------------------------------------- 0.5/11.5 MB 4.5 MB/s eta 0:00:03
   --- ------------------------------------ 1.1/11.5 MB 7.0 MB/s eta 0:00:02
   ------ --------------------------------- 2.0/11.5 MB 9.8 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/11.5 MB 11.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.4/11.5 MB 14.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.5 MB 16.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.1/11.5 MB 18.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.5 MB 19.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.5 MB 19.9 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 28.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 25.2 MB/s eta 0:00:00
Downloading pytz-2023.4-py2.py3-none-any.whl (506 kB)
   ---------------------------------------- 0.0/506.5 kB ? eta -:--:--
   --------------------------------------- 506.5/506.5 kB 31.0 MB/s eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------------------------- 346.6/346.6 kB 21.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2023.4 tzdata-2023.4
Requirement already satisfied: numpy in c:\users\marci\appdata\local\programs\python\python312\lib\site-packages (1.26.3)

In [3]:
import numpy as np
import pandas as pd

In [4]:
s1 = pd.Series([5,-7,8,3,45,32], index=['a','b','c','d','n','z'])
s1

a     5
b    -7
c     8
d     3
n    45
z    32
dtype: int64

In [6]:
sdata = {'Warszawa':455,'Lublin':410,'Kraków':426}
s2 = pd.Series(sdata)
s2

Warszawa    455
Lublin      410
Kraków      426
dtype: int64

In [7]:
print(type(sdata))

<class 'dict'>

In [8]:
print(type(s2))

<class 'pandas.core.series.Series'>

In [9]:
data = {
    'miasto':['Wrocław','Poznań','Gdańsk','Katowice'],
    'wnioski':[567,345,234,467],
    'projekty':[6,7,4,3]
}

frame = pd.DataFrame(data,index=['pierwszy','drugi','treci','czwarty'])
frame

            miasto  wnioski  projekty
pierwszy   Wrocław      567         6
drugi       Poznań      345         7
treci       Gdańsk      234         4
czwarty   Katowice      467         3

In [16]:
daty = pd.date_range("20240130",periods=6)
daty

DatetimeIndex(['2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02',
               '2024-02-03', '2024-02-04'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list('ABCD'))
df

                   A         B         C         D
2024-01-30  0.325267  0.705972 -0.709551 -0.162261
2024-01-31  0.642974 -1.847486  1.255234 -0.667458
2024-02-01 -0.415349  1.973889 -2.070768  0.477792
2024-02-02 -1.120124 -0.176295  0.047303 -0.578774
2024-02-03 -0.060630  1.908926 -0.797544  1.651735
2024-02-04 -0.024373 -0.483354 -0.675883  2.075819